{{ define "main" }}
<div class="theme-selection-wrapper">
    <h1 class="select-header">CHOOSE YOUR REALM</h1>
    
    <div class="theme-grid">
        <a href="/" class="theme-preview-card terminal-card">
            <div class="theme-info">
                <span>01</span>
                <h2>CRT TERMINAL</h2>
                <p></p>
            </div>
        </a>

        <a href="/themes/flower/" class="theme-preview-card sakura-card">
            <div class="theme-info">
                <span>02</span>
                <h2>NOVA DESIERTO DIASPORA</h2>
                <p></p>
            </div>
        </a>

        <a href="/themes/sonic/" class="theme-preview-card sonic-card">
            <div class="theme-info">
                <span>03</span>
                <h2>OVEDRIVE</h2>
                <p></p>
            </div>
        </a>
        <a href="/themes/shinobi/" class="theme-preview-card shinobi-card">
    <div class="theme-info">
        <span>04</span>
        <h2>SMOKEY</h2>
        <p></p>
    </div>
</a>
    </div>
</div>
{{ end }}